body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5, p {
  margin:1em 0 0.5em;
}
h2:first-child,
h3:first-child {
  margin-top:0;
}

h1, h2 {
  font-weight: 300;
  font-size: 2.3rem;
}
h3 {
  font-weight: 300;
  font-size: 2rem;
}

h4 {
  font-weight: lighter;
  font-size: 1.3rem;
  min-height: 3rem;
}
p, a {
  font-size: 1rem;
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: rgb(90,90,95);
}

blockquote {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
  border-left: 3px solid #D99DA8;
  margin: 2rem 0;
}

.sub /* sub heading style */ {
    text-transform: uppercase;
    color: rgb(120,120,120);
}
/* Other elements */

hr {
  border: none;
  border-bottom: 2px solid $color-featured;
  width: 3.5rem;
  margin: 1rem 0;
}
hr.center {
  margin-left: auto;
  margin-right: auto;
}

/* buttons */

.button {
  padding: 1rem 1.5rem;
  margin: 0.5em 0;
  border: 1px solid $color-featured;
  color: $color-featured;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 1rem;
  text-transform: uppercase;
}

.button:hover {
  border-color: $color-dark;
  color: $color-dark;
}

.sidebar .button {
  margin: 1rem 0 0;
  width: 100%;
  text-align: center;
}

.post h2 {
  font-size: 1.8rem;
}

.fancy {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Open Sans';
  line-height: 0.8;
}

.fancy span {
  font-family: 'trendsetter-Regular';
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  font-size: 7rem;
  display: block;
}

.sidebar h2,
.script {
  font-size: 3rem;
  color: #D99DA8;
  font-family: 'trendsetter-Regular';
  text-transform: none;
  margin-bottom: 0;
  text-align:center;
}

.emphasis {
  font-size: 1.3rem;
}

/* Tags */

span.tag {
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(180,180,180);
  color: rgb(180,180,180);
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: normal;
  margin-right: 0.1rem;
  letter-spacing: 1px;
}

/* Responsive Typography */

@media(max-width: 768px) {
  h1, h2 {
    font-size: 2rem;
  }
}
