/* utility classes */

.left {     text-align: left;   }
.right {    text-align: right;  }
.center {   text-align: center; }

.tall {min-height: 60vh;}
.full-height {min-height:100vh }

.padded {     padding: 5%;  }
.padded-2 {   padding: 2%;  }
.no-padding { padding: 0;   }

.block {
  display: block;
  width: 100%;
}

.columns {
    -webkit-columns: auto 3; /* Chrome, Safari, Opera */
    -moz-columns: auto 3; /* Firefox */
    columns: auto 3;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}

.columns p:first-child {  margin-top:0; }

.light-bg  { background-color: rgb(250,250,250);  }

.featured-bg {
  background-color: #F7ECEE; /* pink */
}

/* -------- alternating offset boxes-------- */

/* this reverses every second row */
.post-loop .post-block:nth-child(odd) {
  flex-direction: row-reverse;
}

.post-loop .post-block:nth-child(odd) .text-box {
  margin: 3rem -3rem 3rem 3rem;
}

.post-loop .post-block:nth-child(even) .text-box {
  margin: 3rem 3rem 3rem -3rem;
}


.text-box {
  background-color: white;
  padding:10%;
}



/* Banners */

.banner {
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  position: relative;
  z-index: -1;
  align-items: center;
  justify-content: center;
  display: flex;
}
.overlay:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index:1;
}

.banner-inner {
  color: white;
  text-align: center;
  padding: 5%;
  z-index:2;
}

/* Image block with text overlay */

.bg-image {
  background-color: #efdade; /* fallback while waiting for the image to load */
  background-position: center;
  background-size: cover;
}

.bg-image.p-25 { padding-bottom: 25%; }
.bg-image.p-50 { padding-bottom: 50%; }

/* add a class of p-25 of p-50 to create the required aspect ratio */


/* Blog post */

.sidebar {
  border: 1px solid rgb(240,240,240);
  color: rgb(90,90,90);
  margin: 1rem 0;
}

.sidebar h2,
.sidebar h3 {
  margin-top:0;
}

/* About Page */
.hover-overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  height:100%;
  width:100%;
}
.hover-overlay:hover {
  background: rgba(0, 0, 0, 0.6);
}
.about .text-overlay {
  bottom: 10px;
  left: 10px;
  text-align: left;
  border-left: 2px solid white;
  padding: 0.5rem 1rem ;
  font-size: 2.5rem;
  display: none;
}

.about:hover .text-overlay {
  display: block;
}




@media (max-width: 768px) { /* xs */
      .columns {
    -webkit-columns: auto 1; /* Chrome, Safari, Opera */
    -moz-columns: auto 1; /* Firefox */
    columns: auto 1;
  }
}
